/* Core style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

button:focus {
  box-shadow: none !important;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.wrapper {
  overflow: hidden;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
}

.btnn {
  color: #fff;
  background: #FF4C34;
  border: none;
  padding: 11px 20px 12px 20px;
  border-radius: 15px;
  transition: all 0.2s ease;
}

.btnn:hover {
  background: #ff6f5c;
}

.container {
  max-width: 1240px;
  padding: 0;
}

.header {
  background: #fff;
  padding-top: 24px;
}
.header .header-logo {
  display: flex;
  gap: 59px;
}
.header .header-logo a {
  color: #FF4C34;
  font-family: Inter;
  font-size: 36px;
  font-weight: 900;
}
.header .header-inputs {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header .header-inputs .header-center {
  width: 381px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
}
.header .header-inputs .header-center img {
  position: absolute;
  left: 16px;
}
.header .header-inputs .header-center input {
  height: 100%;
  width: 100%;
  border: none;
  border: 1px solid #FF4C34;
  border-radius: 15px;
  padding-left: 47px;
  margin-right: 30px;
}
.header .header-inputs .header-center button {
  height: 100%;
  width: 72px;
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 14px;
  border-radius: 15px;
  background: #FF4C34;
  transition: all 0.2s ease;
  padding: 12px 13px;
}
.header .header-inputs .header-center button:hover {
  background: #ff6f5c;
}
.header .header-inputs .header-button {
  display: flex;
  align-items: center;
  position: relative;
}
.header .header-inputs .header-button button {
  border-radius: 15px;
  background: #FF4C34;
  color: #fff;
  width: 283px;
  height: 40px;
}
.header .header-inputs .header-button img {
  position: absolute;
  left: 18px;
  width: 16px;
  height: 16px;
}

.header-login {
  display: flex;
  align-items: center;
  gap: 38px;
}

.language {
  display: flex;
  flex-direction: column;
}

.login button {
  color: #fff;
  padding: 11px 29px 10px 30px;
  background: #FF4C34;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
  border: none;
}

.navbar {
  padding: 0;
}

.services {
  padding-top: 54px;
}
.services .service-card {
  width: 400px;
  height: 201px;
  position: relative;
  color: #fff;
  overflow: hidden;
  border-radius: 15px;
}
.services .card-one {
  background: #3472EA;
}
.services .card-one .card-one__bg {
  position: absolute;
  right: 0;
  top: 0;
}
.services .card-one .card-one__bg .c-one-img {
  position: absolute;
  left: 41px;
}
.services .card-one .service-card__content {
  padding: 16px 0 11px 16px;
}
.services .card-one .service-card__content .title {
  margin-bottom: 4px;
}
.services .card-one .service-card__content .btitle {
  margin-bottom: 8px;
}
.services .card-one .service-card__content h2 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.services .card-one .service-card__content p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  margin-top: 4px;
}

.card-two {
  background: #AF30C3;
}
.card-two .service-card__content {
  text-align: right;
  padding: 15px 0 15px 0;
}
.card-two .service-card__content .title {
  padding-right: 42px;
}
.card-two .service-card__content h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 143.9%;
  text-transform: uppercase;
}
.card-two .service-card__content .btitle {
  margin-bottom: 4px;
  padding-right: 18px;
}
.card-two .service-card__content .item-price {
  gap: 11px;
  padding-right: 16px;
  margin-bottom: 26px;
}
.card-two .service-card__content .item-price p {
  font-size: 14px;
  font-weight: 400;
}
.card-two .service-card__content .price {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}
.card-two .service-card__content .btnn {
  margin-right: 70px;
}
.card-two .card-two__bg {
  position: absolute;
  left: 0;
  top: 0;
}
.card-two .card-two__bg .c-two-img {
  z-index: 2;
  position: absolute;
}
.card-two .card-two__bg .c-two-bg {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 0;
}

.card-three {
  background: #2FAAD1;
}
.card-three .c-three-bg {
  position: absolute;
  right: 0;
  top: 0;
}

.card-three .service-card__content {
  padding: 10px 0 11px 16px;
}
.card-three .service-card__content h2 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.card-three .service-card__content .title {
  z-index: 3;
  position: relative;
}
.card-three .service-card__content .btitle {
  width: 188px;
  margin-top: 12px;
  margin-bottom: 4px;
}
.card-three p {
  font-size: 14px;
  font-weight: 400;
}

.c-three-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.c-three-img__two {
  position: absolute;
  top: 59px;
  right: 0;
  z-index: 2;
}/*# sourceMappingURL=main.css.map */