/* Core style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

button:focus {
  box-shadow: none !important;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.wrapper {
  overflow: hidden;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
}

.btnn {
  color: #fff;
  background: #FF4C34;
  border: none;
  padding: 11px 20px 12px 20px;
  border-radius: 15px;
  transition: all 0.2s ease;
}

.btnn:hover {
  background: #ff6f5c;
}

.container {
  max-width: 1240px;
  padding: 0;
}

.header {
  background: #fff;
  padding-top: 24px;
}
.header .container {
  display: flex;
  align-items: center;
}
.header .header-logo {
  display: flex;
  gap: 59px;
}
.header .header-logo a {
  color: #FF4C34;
  font-family: Inter;
  font-size: 36px;
  padding: 0;
  font-weight: 900;
}
.header .header-inputs {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header .header-inputs .header-center {
  width: 381px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
}
.header .header-inputs .header-center img {
  position: absolute;
  left: 16px;
  cursor: pointer;
}
.header .header-inputs .header-center input {
  height: 100%;
  width: 100%;
  border: none;
  border: 1px solid #FF4C34;
  border-radius: 15px;
  padding-left: 47px;
  margin-right: 30px;
}
.header .header-inputs .header-center button {
  height: 100%;
  width: 72px;
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 14px;
  border-radius: 15px;
  background: #FF4C34;
  transition: all 0.2s ease;
  padding: 12px 13px;
}
.header .header-inputs .header-center button:hover {
  background: #ff6f5c;
}
.header .header-inputs .header-button {
  display: flex;
  align-items: center;
  position: relative;
}
.header .header-inputs .header-button button {
  border-radius: 15px;
  background: #FF4C34;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  width: 283px;
  height: 40px;
}
.header .header-inputs .header-button img {
  position: absolute;
  left: 18px;
  width: 16px;
  height: 16px;
}

.header-login {
  display: flex;
  align-items: center;
  gap: 38px;
}

.language {
  display: flex;
  flex-direction: column;
}

.login button {
  color: #fff;
  padding: 11px 29px 10px 30px;
  background: #FF4C34;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
  border: none;
}

.navbar {
  padding: 0;
}

.footer {
  margin-top: 150px;
  background: #F2F2F2;
  padding: 40px 0 60px 0;
}
.footer .footer-all__boxes {
  display: flex;
  gap: 197px;
}
.footer .footer-titles {
  display: flex;
  align-items: center;
}
.footer .footer-titles .footer-title {
  color: #1E1E1E;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.footer .footer-title-two {
  position: relative;
  left: 11px;
}
.footer .footer-foods__one .one {
  padding-right: 89px;
}
.footer .footer-foods__one .two {
  padding-right: 95px;
}
.footer .footer-foods__one .three {
  padding-right: 90px;
}
.footer .footer-food {
  display: flex;
  height: 240px;
  justify-content: space-between;
  flex-direction: column;
}
.footer .footer-food a {
  color: #1E1E1E;
  font-size: 13px;
}

.footer-foods__two {
  display: flex;
  flex-direction: column;
}
.footer-foods__two .footer-food__two {
  display: flex;
  flex-direction: column;
  height: 128px;
  gap: 19px;
}
.footer-foods__two .footer-food__two a {
  color: #1E1E1E;
  font-size: 13px;
}

.footer-foods__two .message {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 40px;
}
.footer-foods__two .message a {
  color: #1E1E1E;
  font-size: 13px;
}

.title-box .subtitle {
  color: #1E1E1E;
  font-size: 24px;
  font-weight: 600;
}

.services {
  padding-top: 54px;
}
.services .service-card {
  width: 400px;
  height: 201px;
  position: relative;
  color: #fff;
  overflow: hidden;
  border-radius: 15px;
}
.services .card-one {
  background: #3472EA;
}
.services .card-one .card-one__bg {
  position: absolute;
  right: 0;
  top: 0;
}
.services .card-one .card-one__bg .c-one-img {
  position: absolute;
  left: 41px;
}
.services .card-one .service-card__content {
  padding: 16px 0 11px 16px;
}
.services .card-one .service-card__content .title {
  margin-bottom: 4px;
}
.services .card-one .service-card__content .btitle {
  margin-bottom: 8px;
}
.services .card-one .service-card__content h2 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.services .card-one .service-card__content p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  margin-top: 4px;
}

.card-two {
  background: #AF30C3;
}
.card-two .service-card__content {
  text-align: right;
  padding: 15px 0 15px 0;
}
.card-two .service-card__content .title {
  padding-right: 42px;
}
.card-two .service-card__content h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 143.9%;
  text-transform: uppercase;
}
.card-two .service-card__content .btitle {
  margin-bottom: 4px;
  padding-right: 18px;
}
.card-two .service-card__content .item-price {
  gap: 11px;
  padding-right: 16px;
  margin-bottom: 26px;
}
.card-two .service-card__content .item-price p {
  font-size: 14px;
  font-weight: 400;
}
.card-two .service-card__content .price {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}
.card-two .service-card__content .btnn {
  margin-right: 70px;
}
.card-two .card-two__bg {
  position: absolute;
  left: 0;
  top: 0;
}
.card-two .card-two__bg .c-two-img {
  z-index: 2;
  position: absolute;
}
.card-two .card-two__bg .c-two-bg {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 0;
}

.card-three {
  background: #2FAAD1;
}
.card-three .c-three-bg {
  position: absolute;
  right: 0;
  top: 0;
}

.card-three .service-card__content {
  padding: 10px 0 11px 16px;
}
.card-three .service-card__content h2 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.card-three .service-card__content .title {
  z-index: 3;
  position: relative;
}
.card-three .service-card__content .btitle {
  width: 188px;
  margin-top: 12px;
  margin-bottom: 4px;
}
.card-three p {
  font-size: 14px;
  font-weight: 400;
}

.c-three-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.c-three-img__two {
  position: absolute;
  top: 59px;
  right: 0;
  z-index: 2;
}

.navigation {
  margin-top: 4rem;
}
.navigation .container {
  background: #FF4C34;
  padding: 12px 8px;
  border-radius: 15px;
}
.navigation .nav-items {
  display: flex;
  gap: 7px;
}
.navigation .nav-items .nav-linkk {
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease;
}
.navigation .nav-items .nav-linkk.active {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
  background: #fff;
}
.navigation .nav-items .nav-linkk:hover {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
  background: #fff;
}
.navigation .nav-items .more:hover svg path {
  stroke: #1E1E1E;
}

.nav-buttons {
  gap: 8px;
}
.nav-buttons .nav-button {
  color: #fff;
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #FFF;
  padding: 0.5rem 1rem;
  transition: all 0.2s linear;
}
.nav-buttons .nav-button:hover {
  background: #fff;
  color: #1E1E1E;
}
.nav-buttons .more:hover svg path {
  stroke: #1E1E1E;
}
.nav-buttons .sorting:hover svg path {
  stroke: #1E1E1E;
}

.aksiya-boxes .aksiya-box {
  max-width: 235px;
}
.aksiya-boxes .aksiya-box .aksiya-box__img {
  position: relative;
}
.aksiya-boxes .aksiya-box .aksiya-top {
  border-radius: 15px;
  background: #00AE63;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px;
  font-size: 9px;
  font-weight: 600;
  position: absolute;
  left: 8px;
  top: 8px;
}
.aksiya-boxes .aksiya-box .aksiya-bottom {
  border-radius: 15px 15px 15px 0;
  background: #FFC11E;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px;
  font-size: 9px;
  font-weight: 600;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.aksiya {
  margin-top: 2rem;
}
.aksiya .title-box {
  margin-bottom: 1.5rem;
}

.aksiya-box .aksiya-box__info {
  padding: 8px 0 12px 0;
}
.aksiya-box .aksiya-box__info .info-title {
  color: #1E1E1E;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}
.aksiya-box .aksiya-box__info .pizza-info {
  gap: 8px;
}
.aksiya-box .aksiya-box__info .rating {
  gap: 4px;
}
.aksiya-box .aksiya-box__info .rating p {
  color: #AFAFAF;
  font-size: 12px;
  font-weight: 400;
  width: 17px;
  height: 15px;
  line-height: 15px;
}

.price svg {
  width: 15px;
  height: 15px;
}

.offers {
  margin-top: 3rem;
}
.offers .offers-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}
.offers .offers-boxes .offer-box {
  overflow: hidden;
  width: 295px;
  height: 362px;
  border-radius: 15px;
  padding: 20px 12px 20px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.offers .offers-boxes .offer-box .top-left-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.offers .offers-boxes .offer-box .bottom-right-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.offers .offers-boxes .offer-box h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 143.9%;
}
.offers .offers-boxes .offer-box h3 span {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 143.9%;
}
.offers .offers-boxes .offer-box .offer-box__bg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 13px 0 25px 0;
}
.offers .offers-boxes .offer-box .offers-footer h2 {
  margin-bottom: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 143.9%;
  text-transform: uppercase;
}
.offers .offers-boxes .box-one {
  background: #3472EA;
}
.offers .offers-boxes .box-one h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 143.9%;
  text-transform: uppercase;
}
.offers .offers-boxes .box-two {
  background: #AF30C3;
}
.offers .offers-boxes .box-three {
  background: #EF1D00;
}
.offers .offers-boxes .box-four {
  background: #FF008B;
}

.foods {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  margin-bottom: 14px;
}
.foods .food {
  position: relative;
  display: flex;
  align-items: center;
}
.foods .food .food-list-style {
  position: absolute;
  top: 11px;
  transform: translateY(-50%);
  left: 0;
  background: #50005E;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.foods .food a {
  margin-left: 1rem;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 143.9%;
}

.mb-1rem {
  margin-bottom: 1rem;
}

.box-two .food-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.box-three .food-img {
  position: absolute;
  bottom: 0;
  z-index: -1;
  right: 0;
}

.box-four .food-img {
  position: absolute;
  bottom: 2rem;
  z-index: -1;
  right: 0;
}

.box-two,
.box-three,
.box-four {
  position: relative;
}
.box-two .title,
.box-three .title,
.box-four .title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.box-two .price-item,
.box-three .price-item,
.box-four .price-item {
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 143.9%;
  margin-bottom: 47px;
}
.box-two .price-item span,
.box-three .price-item span,
.box-four .price-item span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 143.9%;
  position: relative;
  top: -7px;
}

.all-restourant {
  margin-top: 3rem;
}
.all-restourant .title-box {
  margin-bottom: 1.5rem;
}
.all-restourant .all-boxes {
  row-gap: 20px;
}/*# sourceMappingURL=main.css.map */