@use '../abstracts/variables';

.footer {
    margin-top: 150px;
    background: #F2F2F2;
    padding: 40px 0 60px 0;

    .footer-all__boxes {
        display: flex;
        gap: 197px;
    }

    .footer-titles {
        display: flex;
        align-items: center;
        .footer-title {
            color: variables.$black;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 1rem;
        }
    }

    .footer-title-two {
        position: relative;
        left: 11px;
    }

    .footer-foods__one {
        .one {
            padding-right: 89px;
        }

        .two {
            padding-right: 95px;
        }

        .three {
            padding-right: 90px;
        }
    }

    .footer-food {
        display: flex;
        height: 240px;
        justify-content: space-between;
        flex-direction: column;

        a {
            color: variables.$black;
            font-size: 13px;
        }
    }
}

.footer-foods__two {
    display: flex;
    flex-direction: column;

    .footer-food__two {
        display: flex;
        flex-direction: column;
        height: 128px;
        gap: 19px;

        a {
            color: variables.$black;
            font-size: 13px;
        }

        
    }
}
.footer-foods__two{
    .message {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 40px;

        a {
            color: variables.$black;
            font-size: 13px;
        }
    }
}