@use '../abstracts/variables';
.btnn{
    color: variables.$white;
    background: variables.$lightred;
    border: none;
    padding: 11px 20px 12px 20px;
    border-radius: 15px;
    transition: all .2s ease;
}
.btnn:hover{
    background: #ff6f5c;
}