@use '../abstracts/variables';

.korzina {
    margin-top: 50px;

    .row {
        margin-right: 0;
    }

    .title-box {
        margin-bottom: 26px;
    }

    .col-9 {
        .nav-items {
            gap: 26px;

            a {
                padding: 8px 15px !important;
            }
        }

        .navigation {
            margin-top: 0;
        }
    }


    .korzinka-h {
        height: 618px;
    }

    .title-box {
        display: flex;
        align-items: center;

        a {
            color: variables.$black;
            font-size: 1rem;
        }
    }

    .col-3 {
        padding: 16px;
        border-radius: 15px 15px 0px 0px;
        background: #F4F4F4;
    }
}

.korzinka {
    display: flex;
    flex-direction: column;

    .korzinka-title {
        margin-bottom: 103px;
    }

    .korzinka-body {
        gap: 16px;
        margin-bottom: 206px;

        h4 {
            color: variables.$black;
            font-size: 16px;
            font-weight: 600;
        }

        img {
            width: 148px;
            height: 148px;
        }
    }


}

.korzinka-footer {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        top: -21px;
        height: .5px;
        background: #BEBEBE;
    }

    .delivery {
        position: relative;
        border-radius: 5px;
        background: #FFC11E;
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.delivery-info {
    margin-left: 8px;

    h3 {
        color: variables.$black;
        font-size: 13px;
        font-weight: 400;
    }

    p {
        color: #BEBEBE;
        font-size: 13px;
        font-weight: 300;
        line-height: 117.4%;
        width: 177px;
    }
}

.korzinka-icon {
    margin-left: 21px;

    img {
        width: 21px;
        height: 21px;
    }
}

.dominos-pizza {
    position: relative;
    background: url('../images/dominos/dominos-pizza.png');
    padding: 83px 0 32px 23px;
    margin-top: 1.5rem;
    border-radius: 15px;

    .dominos-cards {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-top: 18px;
    }

    .title {
        color: variables.$white;
        font-size: 36px;
        font-weight: 900;
    }

    .dominos-card {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        padding: 12px;

        p {
            color: variables.$white;
            width: 49px;
            display: inline-block;
            font-size: 16px;
            font-weight: 600;
            height: 35px;
        }

        span {
            color: variables.$white;
            font-size: 10px;
            font-weight: 600;
        }
    }

    .one {
        gap: 7px;
        background: #FFC11E;
    }

    .two {
        background: #00AE63;
        gap: 10px;
        width: 90px;
        align-items: center;

        p {
            width: 26px;
        }
    }

    .three {
        background: #FF4C34;
        width: 56px;
        height: 59px;

        svg {
            width: 32px;
            height: 32px;
        }
    }
}

.restaurant-boxes {
    .offer-box {
        width: 295px;
        height: 288px !important;

        .price-item {
            margin-bottom: 0;
        }

        .btnn {
            margin-top: 4px;
        }
    }
}

.pizza {
    margin-top: 40px;

    .pizza-boxes {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .pizza-box {
        border-radius: 15px;
        background: #F4F4F4;
        width: 220px;
        height: 325px;
    }

    .title {
        color: variables.$black;
        font-size: 28px;
        font-weight: 600;
    }

    .pizza-img {
        padding: 18px 18px 0 18px;
        position: relative;

        .aksiya-top {
            border-radius: 15px;
            display: flex;
            align-items: center;
            background: #00AE63;
            color: variables.$white;
            padding: 4px 6px;
            gap: 6px;
            font-size: 9px;
            font-weight: 600;
            top: 18px;
            left: 18px;
            position: absolute;
        }

        .aksiya-center {
            border-radius: 15px;
            background: #3A95FF;
            color: #FFF;
            font-size: 9px;
            font-weight: 600;
            position: absolute;
            top: 44px;
            padding: 4px 6px;
            display: flex;
            align-items: center;
            gap: 6px;
        }


        .aksiya-bottom {
            border-radius: 15px;
            background: #FF629A;
            color: #FFF;
            font-size: 9px;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 6px;
            position: absolute;
            bottom: 0;
            right: 18px;
            padding: 4px 6px;
        }
    }

    .pizza-info {
        padding: 5px 16px 16px 16px;

        .price {
            display: flex;
            gap: 4px;

            h4 {
                color: #FF4C34;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            del {
                color: #ABABAB;
                font-size: 12px;
                position: relative;
                top: -5px;
                font-weight: 500;
            }
        }

        .item {
            h3 {
                color: #1E1E1E;
                font-size: 13px;
                font-weight: 400;
                margin-bottom: 1rem;
            }
        }

        .button {
            width: 100%;

            .btnn {
                padding: 8px 0 7px 0;
                width: 100%;
            }
        }
    }
}

.four-box {
    .aksiya-center {
        top: 16px !important;
    }
}

.all-pizza__boxes {
    gap: 20px;
    display: flex;
    flex-direction: column;

    .btnn {
        width: 137px;
        height: 31px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.combo {
    .title-box {
        margin-bottom: 1.5rem !important;
    }
}


// modal 
.price-dialog {
    max-width: 1003px;

    .price-content {
        padding: 2rem 3rem 2rem 2rem;
        position: relative;
        border-radius: 15px !important;

        .modal-body {
            padding: 0;
            display: flex;
            gap: 15px;

            .modal-info {
                width: 522px;
                height: 384px;
                overflow: hidden;
            }
        }

        .modal-img {
            width: 384px;
            height: 384px;
        }

        .close-btn button {
            position: absolute;
            content: "";
            top: 9px;
            right: 16px;
            padding: 0;
        }
    }

    .price-footer {
        border-top: none;
    }
}

#pills-tab {
    margin-bottom: 0 !important;
    padding: 5px 16px 4px 12px;
    border-radius: 15px;
    background: #F4F4F4;
    justify-content: space-between;

    .nav-link {
        color: variables.$black;
        font-size: 14px;
        font-weight: 400;
        line-height: 132.9%;
        padding: 6px 17px !important;
        width: 155px;
        height: 31px;

        &.active {
            border-radius: 15px !important;
            background: #FFF;
        }
    }
}

.tab-two {
    .nav-link {
        width: 235.5px !important;
    }
}

.price-footer__price {
    display: flex;
    flex-direction: column;
    margin-top: 11px;

    h2 {
        color: #FF4C34;
        font-size: 24px;
        font-weight: 600;

        span {
            color: #ABABAB;
            font-size: 16px;
            font-weight: 500;
            position: relative;
            top: -18px;
        }
    }

    .buttons {
        display: flex;
        gap: 15px;

        .btnn {
            padding: 12px 2rem;
        }

        .many-button {
            border-radius: 15px;
            border: 1px solid #FF4C34;
            padding: 12px 12px 10px 12px;
            width: 142px;
            align-items: center;
            display: flex;
            justify-content: space-between;
            color: variables.$black;
            font-size: 15px;
            font-weight: 500;
        }
    }
}

.modal-info {
    h2 {
        color: variables.$black;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 4px;
    }

    .modal-description {
        color: #1E1E1E;
        font-size: 14px;
        font-weight: 400;
        line-height: 132.9%;
        width: 459px;
        margin-bottom: 12px;
    }

    .tabs {
        display: flex;
        flex-direction: column;

        p {
            color: #1E1E1E;
            font-size: 14px;
            font-weight: 400;
            line-height: 132.9%;
            margin-bottom: 4px;
        }

        .tab-two {
            p {
                margin-top: 12px;
            }
        }
    }

    .taste {
        p {
            color: #1E1E1E;
            font-size: 14px;
            font-weight: 400;
            line-height: 132.9%;
            margin-bottom: 15px;
            margin-top: 12px;
        }
    }
}

.taste {
    p {
        color: #1E1E1E;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        margin: 0 !important;
    }

    .taste-bg {
        border-radius: 15px;
        background: #F4F4F4;
        padding: 11px;
        display: flex;
        row-gap: 8px;
        flex-wrap: wrap;
        justify-content: space-between;

        .taste-item {
            width: 160px;
            border-radius: 15px;
            border: 1px solid #FF4C34;
            background: #FFF;
            padding: 14px 24px;

            .how-many__item {
                display: flex;
                gap: 24px;

                .many-button {
                    display: flex;
                    gap: 17px;
                    align-items: center;
                    color: #000;
                    font-size: 10px;
                    font-weight: 400;

                    svg {
                        width: 8px;
                        height: 8px;
                    }
                }

                h3 {
                    color: #1E1E1E;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 132.9%;
                }
            }
        }

        .white {
            background: #FFF;
            width: 160px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2px;

            p {
                color: #1E1E1E;
                font-size: 12px;
                font-weight: 400;
                line-height: 132.9%;
            }

            h3 {
                color: #1E1E1E;
                font-size: 14px;
                font-weight: 500;
                line-height: 132.9%;
            }
        }
    }
}

.modal-body{
    display: flex;
    flex-direction: column;
    .modal-item{
        display: flex;
        justify-content: space-between;
    }
    .price-footer{
        position: relative;
        right: -405px;
    }
}